


.home{
  background-color: rgb(3, 77, 189);
  height: 550px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font_serif);
  color: rgb(255, 255, 255);
  background-image: url(photos/istockphoto-1405728317-612x612.jpg);

  
  
  
  
}



.h2{
  font-size: 85px;
  margin: 0;
}
.h3{
  font-size: 35px;
  font-weight: bold;
  text-align: center;

}


.button {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color:rgb(194, 192, 211);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
  margin-top: 20px;
  
  
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  background-color: rgb(26, 126, 1);
  transition-duration: .5s;
  height: 50px;
  width: 200px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}








